    main{
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .main__inners{
        display: flex;
        /* width: 100%; */
    }
    .signup__about{
        max-width: 260px;
        margin-right: 20px;
    }
    .signup__form{
        max-width: 1000px;
    }
    .about__inners{
        border-radius: 8px;
        box-shadow: 0 0 4px 0px  #b1b1b1;
    }
    .about__title{
        padding: 20px 0 20px 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 18px;
        background: #01B4E4;
        color: #fff;
    }
    .about__inners ul {
        margin-left: 20px;
        
    }
    .about__text{
        display: flex;
        padding: 15px 10px 15px 0;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .about__text div{
        margin-right: 5px;
        font-size: 28px;
    }
 
  
    .modal__body{
        width: 100%;
        
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 100%;   
        padding: 50px;
        background-color: #01B4E4;
        border-radius: 8px;
    }
    .form__title{
        margin-bottom: 25px;
    }
    .form label{
        font-size: 18px;
        padding: 5px 0;
    }
    .form input {
        border: 1px solid #032540;
        border-radius: 8px;
        padding: 5px;
        font-size: 18px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .form input:focus{
        outline: none;
    }

    .submit__values{
        margin-top: 15px;
        padding: 15px;
        font-size: 20px;
        border: none;
        font-weight: 600;
        background-color: #0689f5;
        border-radius: 8px;
        cursor: pointer;
        transition: all .5ms;
        color: #fff;
    }
    .submit__values:hover {
        opacity: .9;
        transition: all .5ms;
    }
    section{
        margin-bottom: 15px;
    }
    .password__validate, .res__email, .confirm__res{
        color: red;
        margin-bottom: 15px;
    }